cpp/CMakeCache.txt
cpp/CMakeFiles/*
normalPlaystore/*
stagingAmazonstore/*
stagingSamsungstore/*
.DS_Store
.hg
*.o
*.patch
obj
bin
libs
gen
depcomp
Makefile
t_client.sh
ics-openvpn.zip
zh-CN.zip
zh-TW.zip
.gradle
build
captures
gradle
gradlew
gradlew.bat
local.properties
ovpnlibs
.idea
*.iml
.metadata
.project
.settings
.classpath
project.properties
*.apk
build-native-*.sh
.externalNativeBuild
